body {
	font: 11px/22px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#smallbox {
	background-image: url(mini_chilli.jpg);
	background-repeat: repeat-y;
	float: left;
	padding-left: 60px;
	margin-right: 20px;
	width: 220px;
	border: 1px solid #F5C9C9;
}
#content {
	margin-left: 40px;
	margin-top: 40px;
	margin-right: 80px;
}
.header {
	background-image: url(dotty.gif);
	width: 400px;
	height: 30px;
	padding: 6px 6px 4px 8px;
	color: #B22222;
	background-color: transparent;
}
a:link, a:visited {
	color: #B22222;
	background-color: transparent;
	font-weight: bold;
}
a:hover {
	background-image: url(dotty.gif);
	text-decoration: none;
}